/* Colors */
$white: #fff;

.input{
	margin-bottom: 15px;
}

.input-login{
	background: none;
	border-bottom: 2px solid $white;
}

/* Buttons */
.button-outline{
	width: 100%;
  background: none;
  border: 2px solid $white;
  color: $white;
  border-radius: 50px;
}