.next-list,
.prev-list,
.fa-angle-up,
.fa-angle-down{
  cursor: pointer;
}

.next-list,
.prev-list{
  border: none;
}

.navy{
  text-align: right;

}

.pagination{
	justify-content: center;
  display: inline-flex;

	.block-pagination{
	  display: inline-flex;
	}
}

/* home logged */
.header-logged{
	position: fixed;
	width: 100%;
  margin-bottom: 50px;
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #008793, #a8eb12);

  .accenture-logo{
    height: 50px;
  }

  .user-area{
	display: flex;
    justify-content: flex-end;
    align-items: center;

    .list-inline{
    	margin-bottom: 	0;

    	.user-area-cmd{
	    	color: 	#fff;
	      display: inline-block;
	      cursor: pointer;
        margin-left: 15px;
	    }
    }
  }
}

.faixa{
	height: 50px;
	width: 	100%;
	margin-bottom: 	30px;
}

.table{

	thead{
		color: #333;
	}

	th{
		position: relative;

		.arrows{
			position: absolute;
		}

		.fa-angle-up{
			padding: 0 10px;
			top: 	10px;
			color: 	#3a5a67;
		}

		.fa-angle-down{
			padding: 0 10px;
			bottom: 	10px;
			color: 	#3a5a67;
		}
	}
}